[user]
	name = Trey Thomas
	useConfigOnly = true
[push]
	default = current
[alias]
	lds = "!git --no-pager log --pretty=format:'%h %ad %s [%cn]' --decorate --date=short"
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
	editor = /usr/bin/vim
	pager = less -x1,5
	excludesfile = /Users/trey/.gitignore
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[credential]
	helper = store
