[submodule "nvim/.config/nvim/bundle/fugitive"]
	path = nvim/.config/nvim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/.config/nvim/bundle/airline"]
	path = nvim/.config/nvim/bundle/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nvim/.config/nvim/bundle/airline-themes"]
	path = nvim/.config/nvim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "nvim/.config/nvim/bundle/schlepp"]
	path = nvim/.config/nvim/bundle/schlepp
	url = https://github.com/zirrostig/vim-schlepp
	ignore = untracked
[submodule "nvim/.config/nvim/bundle/surround"]
	path = nvim/.config/nvim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim/.config/nvim/bundle/repeat"]
	path = nvim/.config/nvim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "nvim/.config/nvim/bundle/abolish"]
	path = nvim/.config/nvim/bundle/abolish
	url = https://github.com/tpope/vim-abolish
[submodule "nvim/.config/nvim/bundle/commentary"]
	path = nvim/.config/nvim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "nvim/.config/nvim/bundle/lucius"]
	path = nvim/.config/nvim/bundle/lucius
	url = https://github.com/jonathanfilip/vim-lucius
[submodule "nvim/.config/nvim/bundle/colorizer"]
	path = nvim/.config/nvim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer
[submodule "nvim/.config/nvim/bundle/neomake"]
	path = nvim/.config/nvim/bundle/neomake
	url = https://github.com/benekastah/neomake
[submodule "nvim/.config/nvim/bundle/deoplete.nvim"]
	path = nvim/.config/nvim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "nvim/.config/nvim/bundle/tern_for_vim"]
	path = nvim/.config/nvim/bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "nvim/.fonts/powerline"]
	path = fonts/.fonts/powerline
	url = https://github.com/powerline/fonts
[submodule "nvim/.config/nvim/bundle/vim-javascript"]
	path = nvim/.config/nvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "nvim/.config/nvim/bundle/unite.vim"]
	path = nvim/.config/nvim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "nvim/.config/nvim/bundle/vim-jsx"]
	path = nvim/.config/nvim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "nvim/.config/nvim/bundle/vim-scala"]
	path = nvim/.config/nvim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "nvim/.config/nvim/bundle/vim-go"]
	path = nvim/.config/nvim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "nvim/.config/nvim/bundle/deoplete-go"]
	path = nvim/.config/nvim/bundle/deoplete-go
	url = https://github.com/zchee/deoplete-go
[submodule "nvim/.config/nvim/bundle/typescript-vim"]
	path = nvim/.config/nvim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "nvim/.config/nvim/bundle/editorconfig-vim"]
	path = nvim/.config/nvim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
