" emulate tpope vim-surround
set surround

" highlight matches with last search pattern
set hlsearch

" show where search pattern typed so far matches
set incsearch

" Allow ; for :
noremap ; :

" use apostrophe for next in f/t search
noremap ' ;

" run q macro with space
noremap <space> @q

" open terminal with tab
noremap <tab> :action ActivateTerminalToolWindow<CR>

" Switch tabs with [ and ]
map [ :action PreviousTab<CR>
map ] :action NextTab<CR>
